#left-box-body {
    display: inline-block;
    float:left;
    width: 20%;
}

#right-box-body {
    display: inline-block;
    float:left;
    width: 80%;
    padding: 2% 2%;
}

.img-box {
    display: inline-block;
    width: 15%;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    vertical-align:text-bottom;
    float:left;
}

.label-left-box {
    font-weight: bolder;
    font-size: 1.5vw;
}

.add-list-group {
    font-weight: bold;
    color:darksalmon;
    background-color: darkslategrey;

}

.menu{
    background-image: url("picture/menu.png");
    width: 100%; 
    border-top-right-radius: 50%; 
    border-top-left-radius: 50%;
    height: 8vw;
    text-align: center;
    padding: 15% 15%;
}

.menu-content {
    color:linen;
    font-size: 2vw;
    font-weight: bolder;
}

.box-food{
    width: 25%;
    padding: 1% 1%;
    border: 0.25vw solid red;
    text-align: center;
}

.name-food{
    font-weight: bolder;
    color:tomato;
    font-size: 1.5vw;
    padding: 3% 3%;
}

.price-food {
    font-weight: bold;
    color: darkblue;
    padding-bottom: 3%;
    font-size: 1.5vw;
}

.amount {
    width: 40%;
    display: inline-block;
    border: 0.25vw solid peru;
    font-size: 1.5vw;
}